{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": [4, {
      "except": ["value"],
      "severity": "error"
    }],
    "max-empty-lines": 1,
    "block-no-empty": [true, {
      "severity": "warning"
    }],
    "color-hex-case": "lower",
    "linebreaks": "unix",
    "declaration-empty-line-before": ["never", {
      "severity": "warning"
    }]
  }
}