{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": [4, {
      "except": ["value"],
      "severity": "error"
    }],
    "max-empty-lines": 1,
    "block-no-empty": [true, {
      "severity": "warning"
    }],
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "linebreaks": "unix",
    "declaration-empty-line-before": ["always", {
      "severity": "warning"
    }],
    "rule-empty-line-before": ["always-multi-line", {
      "severity": "error"
    }],
    "number-leading-zero": "never"
  }
}