.input-wl {
    $top: 18px;
    $horizontal-padding: 8px;

    position: relative;
    display: block;
    cursor: text;
    margin: 4px 0;
    border: 1px solid black;

    &--label,
    &--input {
        line-height: 22px;
        padding: 0 $horizontal-padding;
    }

    &--label {
        position: absolute;
        transition: all .1s ease-in-out;
        pointer-events: none;
        top: $top;
        color: gray;
        transform: translate(0, -#{$top / 2});
    }

    &--input {
        width: 100%;
        height: 100%;
        border: none;
        margin: $top 0 4px;
        background: transparent;

        &:active,
        &:focus,
        &:invalid {
            outline: none;
            box-shadow: none;
        }
    }

    &__active &--label {
        transform: translate(0, -$top) scale(.75);
        transform-origin: top left;
        color: black;
    }
}
