/**
 * bg - BackGround
 * fg - ForeGround
 * ph - PlaceHolder
 */

$primary-color-bg: #333333;
$primary-color-fg: #ffffff;
$primary-color-ph: #9a9a9a;

$secondary-color-bg: #6e90ce;
$secondary-color-fg: #ffffff;
$secondary-color-ph: #888888;

$default-color-bg: #ffffff;
$default-color-fg: #000000;
$default-color-ph: #9e9e9e;
