@import './constants.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lucida, verdana, tahoma, arial, sans-serif, Lucida Sans;
}

.theme__dark {
    background: $primary-color-bg;
    color: $primary-color-fg;
}
